/* .text-input1 {
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #D4CEE3;
} */

.invalid {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.button1 {
    -fx-background-color: #6F4CBB;
    -fx-text-fill: #ffffff;
}

/* .button1:hover {
    -fx-text-fill:#431FA0;
} */

.button1:pressed {
    -fx-text-fill: #371897;
}

.button1:active {
    -fx-text-fill: #80AFF5;
}

.button2 {
    -fx-background-color:#D5CBEB;
    -fx-background-radius: 20;
    -fx-text-fill: #371897;
    -fx-border-color: #6F4CBB;
    -fx-border-radius: 20;
}

.button2:hover {
    -fx-background-color: #6F4CBB;
}

.button2:pressed{
    -fx-background-color: #E4EEFD;
}

.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #6F4CBB, #431FA0)
}
